body {
    font-family: "Poppins", sans-serif;
}

/* Sector header */

.header {
    display: flex; 
    align-items: center;
    padding-top: 38px;
    padding-bottom: 38px;
    border-bottom: 3px solid #CCCCCC;
}

.header-logo {
    width: 55px;
    height: 55px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25%; 
}

.header-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-left: 20px;
}

/* Orden de cards de pagina 1 */

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

.page1-card1 {
    grid-column: 1 / 2;
}

.page1-card2 {
    width: 100%;
}

/* Sector izquerdo pagina 1 */

.page-title {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    
}

.page1-img1 {
    height: 324px;
    width: 673px;
    border-radius: 20px 20px 20px 20px;
    object-fit: cover;
}

.card1-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.card1-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.card1-footer {
    display: flex;
    align-items: center;
}

.card1-footer-img {
    border-radius: 75px 75px 75px 75px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 10px;
}

.card1-footer-text {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    padding-top: 20px;
}

/* Sector derecho pagina 1 */

.pag1-img2 {
    width: 189px;
    height: 145px;
    border-radius: 5px;
    object-fit: cover;
}

.card2-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.card2-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.card2-footer {
    display: flex;
    align-items: center;
}

.card2-footer-img {
    border-radius: 75px 75px 75px 75px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 10px;
}

.card2-footer-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding-top: 20px; 
}


/* Sector derecho pagina 2 */

.page2 {
    margin-top: 5%;
    border-top: 3px solid #CCCCCC;
}











/* Sector footer pagina */

.footer {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding-top: 38px;
    padding-bottom: 38px;
    border-top: 3px solid #CCCCCC;
}

.footer-logo {
    width: 55px;
    height: 55px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 25%; 
}

.footer-title {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-left: 20px;
    text-align: left;
}

.footer-text {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-left: auto;
}